.players-list {
  display: flex;
  flex-wrap: wrap;
  align-items: auto;
  align-content: space-around;
}

mat-paginator {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

button {
  margin-left: 80%;
}

mat-label {
  color: #9371d9;
}
