<hc-players-nav-bar></hc-players-nav-bar>

<mat-list>
  <div mat-subheader>Всего: {{ totalItems }}</div>
  <mat-list-item *ngFor="let player of players">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <div mat-line [routerLink]="['/participants', player.id]" class="player-nickname">
      {{ player.nickname }}
    </div>
    <div mat-line>Добавлен: {{ player.added | date }}</div>

    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon> more_vert </mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon>edit</mat-icon><span>Редактировать</span></button>
      <button mat-menu-item class="delete"><mat-icon>delete</mat-icon><span>Удалить</span></button>
    </mat-menu>
  </mat-list-item>
</mat-list>

<hc-add-item (showAddDialog)="addPlayer()"></hc-add-item>
