<mat-card [formGroup]="playsFilter">
  <mat-card-title>Поиск</mat-card-title>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Игроки</mat-label>
      <mat-chip-list #playersList aria-label="Players selection">
        <mat-chip *ngFor="let selected of selectedPlayers" (removed)="removePlayer(selected)">
          {{ displayPlayer(selected) }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Игрок"
          #fruitInput
          formControlName="playersIds"
          [matAutocomplete]="playersSelection"
          [matChipInputFor]="playersList"
        />
      </mat-chip-list>
      <mat-autocomplete
        #playersSelection="matAutocomplete"
        (optionSelected)="onPlayerSelected($event)"
        [displayWith]="displayPlayer"
      >
        <mat-option *ngFor="let pl of playersOption | async" [value]="pl">
          {{ displayPlayer(pl) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Игры</mat-label>
      <mat-chip-list #gamesList aria-label="Games selection">
        <mat-chip *ngFor="let selected of selectedGames" (removed)="removeGame(selected)">
          {{ selected.title }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Игра"
          #fruitInput
          formControlName="gamesIds"
          [matAutocomplete]="gamesSelection"
          [matChipInputFor]="gamesList"
        />
      </mat-chip-list>
      <mat-autocomplete #gamesSelection="matAutocomplete" (optionSelected)="onGameSelected($event)">
        <mat-option *ngFor="let gm of gamesOption | async" [value]="gm">
          {{ gm.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Дата от</mat-label>
      <input matInput [matDatepicker]="dateFrom" formControlName="dateFrom" placeholder="Дата от" />
      <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
      <mat-datepicker #dateFrom></mat-datepicker>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Дата до</mat-label>
      <input matInput [matDatepicker]="dateTo" formControlName="dateTo" placeholder="Дата до" />
      <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
      <mat-datepicker #dateTo></mat-datepicker>
    </mat-form-field>
  </p>

  <button mat-button color="accent" (click)="reset()">Сбросить</button>
  <button mat-button color="primary" (click)="search()">Найти</button>
</mat-card>
