a {
  text-decoration: none;
}
.mat-card {
  display: flex;
  margin: 5px 15px 5px 15px;
  justify-content: space-between;
}

.game-content {
  padding-left: 15px;
  width: 100%;
}

.menu-opener {
  text-align: right;
}
