<h2 mat-dialog-title>Добавить игрока</h2>
<mat-dialog-content [formGroup]="playersForm" *ngIf="playersForm">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput type="text" formControlName="firstName" required placeholder="Имя" />
      <hc-field-validation-errors
        [form]="playersForm"
        [fieldName]="'firstName'"
        [messages]="errorMessages"
      ></hc-field-validation-errors>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Фамилия</mat-label>
      <input matInput type="text" formControlName="lastName" required placeholder="Фамилия" />
      <hc-field-validation-errors
        [form]="playersForm"
        [fieldName]="'lastName'"
        [messages]="errorMessages"
      ></hc-field-validation-errors>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Ник</mat-label>
      <input
        matInput
        type="text"
        formControlName="nickname"
        required
        placeholder="Ник"
        hcUniqueNicknameValidator
      />
      <hc-field-validation-errors
        [form]="playersForm"
        [fieldName]="'nickname'"
        [messages]="errorMessages"
      ></hc-field-validation-errors>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="birthDate"
        placeholder="Дата рождения"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <hc-field-validation-errors
        [form]="playersForm"
        [fieldName]="'birthDate'"
        [messages]="errorMessages"
      ></hc-field-validation-errors>
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-button [disabled]="!playersForm.valid" (click)="add()">Добавить</button>
</mat-dialog-actions>
