<h2 mat-dialog-title>Добавить игрока</h2>
<mat-dialog-content [formGroup]="playersForm" *ngIf="playersForm">
  <p>
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input
        matInput
        type="text"
        formControlName="nickname"
        required
        placeholder="Имя"
        hcUniqueNicknameValidator
      />
      <hc-field-validation-errors
        [form]="playersForm"
        [fieldName]="'nickname'"
        [messages]="errorMessages"
      ></hc-field-validation-errors>
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="accent">Отмена</button>
  <button mat-button [disabled]="!playersForm.valid" (click)="save()" color="primary">
    Сохранить
  </button>
</mat-dialog-actions>
