<ng-container *ngIf="player">
  <hc-header-card [text]="player.nickname"></hc-header-card>

  <mat-card class="mat-elevation-z4">
    <mat-card-content>
      <p>Создан: {{ player.added | date }}</p>
    </mat-card-content>
  </mat-card>

  <hc-top-games-stats
    [title]="'Топ сыгранных игр:'"
    [propertyName]="'playedTotal'"
    [playersStats]="topPlayedGames"
  ></hc-top-games-stats>

  <hc-top-games-stats
    [title]="'Топ игр по количеству побед:'"
    [propertyName]="'wins'"
    [playersStats]="topWinningGames"
  ></hc-top-games-stats>
</ng-container>
