<ng-container *ngIf="player">
  <hc-header-card [text]="player.firstName"></hc-header-card>

  <mat-card>
    <mat-card-subtitle>{{ player.firstName }} {{ player.lastName }}:</mat-card-subtitle>
    <mat-card-content>
      <p>Дата рождения: {{ player.birthDate | date }}</p>
      <p>Ник: {{ player.nickname }}</p>
      <p>Создан: {{ player.added | date }}</p>
    </mat-card-content>
  </mat-card>

  <hc-top-games-stats
    [title]="'Топ сыгранных игр:'"
    [propertyName]="'playedTotal'"
    [playersStats]="topPlayedGames"
  ></hc-top-games-stats>

  <hc-top-games-stats
    [title]="'Топ игр по количеству побед:'"
    [propertyName]="'wins'"
    [playersStats]="topWinningGames"
  ></hc-top-games-stats>
</ng-container>
