<ng-container *ngIf="gameDetails">
  <hc-header-card [text]="gameDetails.title"></hc-header-card>
  <mat-card>
    <mat-card-subtitle
      >Детали:
      <mat-divider></mat-divider>
    </mat-card-subtitle>
    <mat-card-content>
      <p>Количество игроков: {{ gameDetails.minPlayers }} - {{ gameDetails.maxPlayers }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-subtitle
      >Статистика:
      <mat-divider></mat-divider>
    </mat-card-subtitle>

    <mat-card-content>
      <p>Партий сыграно: {{ gameDetails.timesPlayed }}</p>
      <p>Дата последней партии: {{ gameDetails.lastPlayedDate | date }}</p>
      <p>Средний результат: {{ gameDetails.averageScore | number }}</p>
    </mat-card-content>
  </mat-card>

  <hc-top-players-stats
    [title]="'Топ игроков по сыгранным партиям:'"
    [playersStats]="topPlayedPlayers"
    [propertyName]="'playedTotal'"
  >
  </hc-top-players-stats>

  <hc-top-players-stats
    [title]="'Топ игроков по количеству побед:'"
    [playersStats]="topWinnersPlayers"
    [propertyName]="'wins'"
  >
  </hc-top-players-stats>

  <hc-top-players-stats
    [title]="'Топ игроков по среднему результату:'"
    [playersStats]="topAverageScore"
    [propertyName]="'averageScore'"
  >
  </hc-top-players-stats>
</ng-container>
