<mat-card>
  <mat-card-subtitle> {{ title }}</mat-card-subtitle>
  <mat-card-content *ngIf="playersStats.length > 0">
    <table mat-table [dataSource]="playersStats">
      <ng-container matColumnDef="player-name">
        <th mat-header-cell *matHeaderCellDef>Имя игрока</th>
        <td mat-cell *matCellDef="let row">{{ row.player.firstName }} {{ row.player.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="stat">
        <th mat-header-cell *matHeaderCellDef>Значение</th>
        <td mat-cell *matCellDef="let row">{{ getValue(row) }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
