@import '~ngx-bar-rating/themes/br-default-theme';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$main-text-color: white;
$bottom-bar-background-color: rgb(66, 66, 66);
