@import '~ngx-bar-rating/themes/br-default-theme';
@import './theme.scss';

html,
body,
.app-container {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$winner-background: #69f0ae;
$details-card-margin: 15px;
