<h2 mat-dialog-title>Добавить игру</h2>
<mat-dialog-content [formGroup]="gameForm">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Название</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Название" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Игроков От</mat-label>
      <mat-select formControlName="minPlayers" required>
        <mat-option *ngFor="let number of playersNumberOptions" [value]="number">
          {{ number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Игроков До</mat-label>
      <mat-select formControlName="maxPlayers" required>
        <mat-option *ngFor="let number of playersNumberOptions" [value]="number">
          {{ number }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <mat-dialog-actions>
    <button mat-button color="accent" (click)="cancel()">Отмена</button>
    <button mat-button color="primary" (click)="save()">Сохранить</button>
  </mat-dialog-actions>
</mat-dialog-content>
