<hc-header-card [text]="'Доступные игры:'"></hc-header-card>

<ng-container *ngIf="games.length > 0; else elseTemplate">
  <div class="games-list">
    <hc-game-card *ngFor="let game of games" [game]="game"></hc-game-card>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <mat-card>
    <mat-card-title> Ничего не найдено! </mat-card-title>
  </mat-card>
</ng-template>

<mat-toolbar>
  <button mat-icon-button (click)="openFilter()"><mat-icon>filter_alt</mat-icon></button>
  <button mat-icon-button (click)="openAddDialog()"><mat-icon>add</mat-icon></button>

  <span class="spacer"></span>
  <mat-paginator
    [length]="total"
    [pageSize]="6"
    [hidePageSize]="true"
    (page)="pageChangedEvent($event)"
  ></mat-paginator>
</mat-toolbar>
