<hc-games-nav-bar></hc-games-nav-bar>

<ng-container *ngIf="games.length > 0; else elseTemplate">
  <div class="games-list">
    <hc-game-card *ngFor="let game of games" [game]="game"></hc-game-card>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <mat-card>
    <mat-card-title> Ничего не найдено! </mat-card-title>
  </mat-card>
</ng-template>

<a
  ><button class="add-game" (click)="openAddDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button></a
>

<mat-paginator
  [length]="total"
  [pageSize]="6"
  [hidePageSize]="true"
  (page)="pageChangedEvent($event)"
></mat-paginator>
