@import '../../styles.scss';

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hc-game-card {
  width: 350px;
}

mat-toolbar {
  background-color: $bottom-bar-background-color;
  width: 100%;
}

.no-result {
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}
