<h2 mat-dialog-title>Регистрация</h2>
<mat-dialog-content [formGroup]="registerForm">
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Имя" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Эл. почта</mat-label>
      <input matInput type="text" formControlName="email" placeholder="Эл. почта" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Пароль" />
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="accent" (click)="cancel()">Отмена</button>
  <button mat-button color="primary" (click)="register()" [disabled]="!registerForm.valid">
    Сохранить
  </button>
</mat-dialog-actions>
